<% case @iscorrect
		   when "yes" %>
    <h2><%=@vanswer%> 채r r채tt</h2>
        <% when "no" %>
    <h2><%=@vanswer%> 채r fel</h2>
<% end %>

<h1>Vad 채r <%=@first%> + <%=@second%>?</h1>
<form action="/validate" method="post">
    <input type="text" name="answer" autofocus>
    <input type="hidden" name="first" value="<%=@first%>">
    <input type="hidden" name="second" value="<%=@second%>">
    <input type="submit">
</form>