<!DOCTYPE html>
<html>
<head>
    <title>Mattemysteriet</title>
    <link rel="stylesheet" type="text/css" href="/style.css?<%=Time.now.to_i%>"> 
</head>
<body>

<% case @iscorrect
		   when "yes" %>
    <section class="correct"><h2><%=@vanswer%> 채r r채tt</h2></section>
        <% when "no" %>
    <section class="incorrect"><h2><%=@vanswer%> 채r fel</h2></section>
<% end %>

<h1>Vad 채r <%=@first%> + <%=@second%>?</h1>
<form action="/validate" method="post">
    <input type="text" name="answer" autofocus>
    <input type="hidden" name="first" value="<%=@first%>">
    <input type="hidden" name="second" value="<%=@second%>">
    <input type="submit" value="Svara">
</form>

<img class="logo" src="/mattemysteriet-logo.png">

</body>